<%- include('../partiel/header.ejs') %>



<div class="container">
    
    <div id="gameBox">
    </div>


</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/jsClient/chat.js"></script>
<script src="/jsClient/morpion.js"></script>
<%- include('../partiel/footer.ejs') %> 
