<%- include('../partiel/headernonav.ejs') %>

<h1  > Bonjour <%=user.username %> </h1>


<div class="container mainBox">
    <div id="murBox" class="bg-light">  
        <ul id="connectedMessages"></ul>
        <div id="ulIsConnected" class="" >
        </div> 
        <div id="morpionBox"></div> 
    </div>
    <button id="activerChat" class="btn btn-success">Afficher chat</button>
    <div id="chatBox" class="bg-info d-none">
    <button id="masquerChat" class="btn btn-success">Masquer le chat</button>
     <h2 id="chatTitle" class=""> CHAT </h2>   
     <form action="" id="chatForm">
         
        <input id="inputChat" name=<%=user.username %> type="text" autocomplete="off">
        <button type="submit" class="btn btn-light d-block w-100" id="chatSendButton">Envoyer</button>
     </form>   
     <ul id="ulMessagesChat" class="bg-light ">
     </ul>

    </div>

</div>




<script src="/socket.io/socket.io.js"></script>
<script src="/jsClient/morpion.js"></script>
<script src="/jsClient/chat.js"></script>
<script src="/jsClient/profile.js"></script>
<%- include('../partiel/footer.ejs') %> 
