<%- include('partiel/header')  %> 

<h1> Bienvenue sur l'application en temps reel </h1>
<section>
    <div class="d-flex">
            <h2>Titre de section </h2>
          
    </div>
</section>

<%- include('partiel/footer')  %> 



