/* #4a595c; */



.mainBox{
    display: flex;
    flex-direction: row;
    height: 700px;
    justify-content: center;
    align-content: stretch;
      
}

#murBox{

    display: flex;
    border: solid 1px rgb(231, 229, 229);
    border-radius: 3px;
    flex-grow: 4;
    flex-direction: column;
    height: auto;
    align-items: center;



}


/*--------------------------------------------------- barre de Chat ------------------------------------------------------------------*/



.alreadyRegister {
    margin-top: 3%;


}

.nopoint{
    list-style-type: none;
    font-size: 0.9em;
}

#chatBox {
    display: flex;
    border: solid 1px rgb(231, 229, 229);
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(163, 127, 114);
    padding: 0.7% .7%;
    

}

#chatTitle{
    font-size: 2em; 
    color: aliceblue;
    padding: 2% 1%;
}

#hideChat{
margin: 3% 3%;
}; 

#activateChat{
    position: absolute;
    right: 0;
}

#ulMessagesChat{
    width: 90%;
    height: 75%;
    border: solid 0.5px black;
    border-radius: 10px;
    margin-top: 3%;
    


}



#ulIsConnected{
    display: inline;
    width: 960px;

}

.btnUser{
    background-color: rgb(111, 111, 250);
    height: 100%;
    min-width: 10%;
    border-radius: 3px;
    text-align:center; 
    list-style-type: none;
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}

.itemUser:hover{
    background-color: rgb(165, 197, 197);

}



/*--------------------------------------------------- Messages ------------------------------------------------------------------*/




#chatMessage {
    flex-grow: 4;


}

#chatForm {
 display: block;
}

#mur {
    border: solid 1px grey;
    flex: 0.8;
    margin-top: 3.7%; 
    height: 500px;
    

}

#formMessage {

display: flex;
flex-direction: column;

}


/*--------------------------------------------------- Morpion ------------------------------------------------------------------*/

.caseMorpion {
    background-color: antiquewhite;
    border-radius: 1em;
    border: solid 1px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.btnChoice{
    margin: auto;
    
}


.morpionBox{
    margin-top: 3%;
    margin-left: 3%;
    
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: [first] 33% [line2] 33% [line3] auto ;
    grid-template-rows: [row1-start] 33% [row1-end] 33% [third-line] auto [last-line];

}


@media screen and (min-width: 800px) {
    
  }


 .btnDisconnect {
    position: absolute;
    right: 0;

  }